In [2]:
import pandas as pd

In [3]:
df_vit = pd.read_csv("VIT.csv",encoding="ISO-8859-1")
df_vit.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,3,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,LLAVE_HOGAR,LLAVE_PERSONA,RegiÃ³n,SubregiÃ³n,VDEPTO,VCDEPTO,VAREA,VAREAM,USM,VM_15,...,niveledu,act_economica,afiliado,FERRITINA,VITAMINAA,ZINC,VITAMINAB12,VitaminaD,YODO,FactorExpansionVT
0,-----------,-------------,------,---------,------,-------,-----,------,---,-----,...,--------,-------------,--------,---------,---------,----,-----------,---------,----,-----------------
1,00001,0000103,1. ATLÃNTICO,1,ATLANTICO,08,1,0,0347,2,...,2,NaN,1,11.10,NaN,NaN,391.00,62.70,449.80,446.00
2,00001,0000104,1. ATLÃNTICO,1,ATLANTICO,08,1,0,0347,2,...,1,NaN,1,36.70,NaN,NaN,421.00,50.50,314.40,393.00
3,00004,0000402,1. ATLÃNTICO,1,ATLANTICO,08,1,0,0347,2,...,3,NaN,1,33.60,NaN,NaN,592.00,69.10,178.34,1554.00
4,00004,0000403,1. ATLÃNTICO,1,ATLANTICO,08,1,0,0347,2,...,1,NaN,1,36.20,NaN,NaN,427.00,75.10,299.87,548.00

In [4]:
print(df_vit.columns)

Index(['LLAVE_HOGAR', 'LLAVE_PERSONA', 'RegiÃ³n', 'SubregiÃ³n', 'VDEPTO',
       'VCDEPTO', 'VAREA', 'VAREAM', 'USM', 'VM_15', 'VM_16A', 'VM_16B',
       'VM_9A', 'VM_30A', 'VM_30B', 'RESULTADO', 'wealth_index',
       'cuartil_riqueza2015', 'sexo_jefe', 'etnia_jefe', 'niveledu_jefe',
       'tamanho_HH', 'act_economica_jefe', 'tipo_hogar_contraste', 'nivel_urb',
       'cabecera', 'agua', 'sexo', 'etnia', 'edu', 'niveledu', 'act_economica',
       'afiliado', 'FERRITINA', 'VITAMINAA', 'ZINC', 'VITAMINAB12',
       'VitaminaD', 'YODO', 'FactorExpansionVT'],
      dtype='object')

In [6]:
df_antr = pd.read_csv("ANTR.csv", sep="\t", encoding="ISO-8859-1")
df_antr .columns=["LLAVE_HOGAR",LLAVE_PERSONA,Región,Subregión,area,USM,ANTSEXO,AN_EDAD,AN_EDADM,AN_1,AN_2,AN_3,AN_4A,AN_4B,AN_4C,AN_5A,AN_5B,AN_5C,AN_6,AN_7,AN_8,AN_9,AN_IMC,AN_10,AN_11,AN_12,AN_13,INTERGE_MAYOR,NDIAS,NSEMANAS_EG_1,NUMERACION_HIJO,NUM_PARTO,EDAD_MADRE_NAC,FPP,LLAVE_MADRE,RESULTADO,Estrato_UPM,cod_UPM_rev,fpc_upm,EstratoZona,fpc_USM,UTM,fpc_utm,FactorExpansionPer,wealth_index,cuartil_riqueza2015,sexo_jefe,etnia_jefe,niveledu_jefe,tamanho_HH,act_economica_jefe,tipo_hogar_contraste,nivel_urb,cabecera,agua,sexo,etnia,edu,niveledu,act_economica,afiliado,MJ3_15,lugar_parto,parto_institucional,controles_prenatales,tipo_parto,asistencia_parto,info_lactnacia,licencia_maternidad,asis_control,niveledu_MADRE,act_economica_MADRE,FEC_VIS,PT3_4_3,PT3_4_4,PT3_6,PT3_6CU,PT3_7,PT3_7CU,PT3_9,PT3_14,PT3_21,PT3_22,PT3_27,PT3_27CU,PT5_3,PT5_5M,PT5_12,PT5_16,PT5_33,PT5_34B,PT6_1,PT6_4,PT6_17A,PT7_6,PT8_2,PT8_3_1,PT8_3_2,PT8_3_3,PT8_3_4,PT8_3CU,PT8_7,PT8_8,PT8_9,PT8_10,PT8_11,MJ3_10,MJ3_12ANO,MJ3_12MES,MJ3_12D
IA,MJ3_14,MJ3_15_B,MJ3_19,MJ3_20,MJ3_23,MJ3_27,MJ3_32,MJ3_35,fechaNacimiento,fechaUltimoNacimiento,WHZ,WAZ,HAZ,BAZ,flagAnthro,flagPlus,tieneHijoMenor5,menor2,menor5,edad0a4,nino5a17,grupoEdad5a17,edad5a12,edad13a17,menor18,adulto18a64,adulto18a27,mujer13a49,adulto60a64,grupoEdad18a64,semanasGest,trimestreEmbarazo,fechaUltimaVisita1,tiempoDesdeParto1,partoUltimos3Meses_1,subregion_A,departamento,grupoEdadMadreNac1,grupoEdadMadreNac2,grupoEdadGestante,edadGestacionalNac1,edadGestacionalNac2,tipoParto,ordenNacimientoAgrupado,intervaloNacimiento,asistenciaParto,asisteControlDes,cantControlPrenat,partoInstitucional,pesoAlNacer,longitudAlNacer,estadoImc1,estadoImc2,estadoImc7,obesidadAbdominal,retrasoTalla,desnutricionGlobal,desnutricionAguda,desnutricionAgudaSev,estadoImc3,estadoImc4,estadoImc5,estadoImc6,estadoImc8,estadoImc9,tallaBaja1,tallaBaja2,pesoBajo1,pesoBajo2,estadoPesoGestantes,excesoPesoGestantes,filtro1,filtro2,LLAVE_CONYUGE,edadConyuge,embarazoConyuge,estadoPesoConyuge]
df_antr.head()

ParserError: ignored